<h1>Incoming Arrivals at Great Portland Street</h1>
<table>
  <thead>
    <tr>
      <th>Line</th>
      <th>Destination</th>
      <th>Expected Arrival</th>
      <th>Platform</th>
    </tr>
  </thead>
  <tbody>
    <% @arrivals.each do |arrival| %>
      <tr>
        <td><%= arrival['lineName'] %></td>
        <td><%= arrival['destinationName'] %></td>
        <td><%= Time.at(arrival['expectedArrival'].to_datetime.to_i).strftime("%H:%M:%S") %></td>
        <td><%= arrival['platformName']%></td>
      </tr>
    <% end %>
  </tbody>
</table>