<h1>Incoming Arrivals at Great Portland Street</h1>
<table>
  <thead>
    <tr>
      <th>Line</th>
      <th>Destination</th>
      <th>Expected Arrival</th>
      <th>Platform</th>
    </tr>
  </thead>
  <tbody>
    <% @arrivals.each do |arrival| %>
      <tr>
        <td><%= arrival.line_name %></td>
        <td><%= arrival.destination_name %></td>
        <td><%= arrival.expected_arrival_time %></td>
        <td><%= arrival.platform_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>